<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <style type="text/css">
        body {
		background:  url(resources/svetlye_fony.jpg);
		color: #000;
		background-attachment: fixed;
		background-repeat: repeat-x;
		background-size: 100%
}
        .users td {
            border: 1px solid #000000;
            padding: 15px;
        }
        div.field {
  padding-bottom: 5px;
}
div.field label {
  display: block;
  float: left;
  width: 70px;
  height: 15px;
}



    </style>
</head>
<body>
<h1>Users:</h1>

<div class="field">
    <table class="users">
        <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Password</th>
            <th>AdministratorId</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.login}">User</td>
            <td th:text="${user.password}">joker1234</td>
            <td th:text="${user.administrator}">1</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>